@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arcade Classic";
  font-weight: 400;
  src: url("/fonts/ArcadeClassic.ttf");
}

@font-face {
  font-family: "Geometria";
  font-weight: 400;
  src: url("/fonts/Geometria.ttf");
}

@font-face {
  font-family: "Earls Revenge";
  font-weight: 400;
  src: url("/fonts/EarlsRevenge.ttf");
}

@font-face {
  font-family: "Economica R";
  font-weight: 400;
  src: url("/fonts/EconomicaRegular.ttf");
}

html {
  background-color: #131313;
}

#record1 {
  background: radial-gradient(#fc9cf3, #b9d9ff, #0091ff, #99fdc1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#record2 {
  background: radial-gradient(#f6dd71, #c7c20a, #f6f42a, #d6b407);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#record3 {
  background: radial-gradient(
    #e02020,
    #fa6400,
    #f7b500,
    #6dd400,
    #0091ff,
    #6236ff,
    #b620e0
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#crt {
  background: linear-gradient(to right, #fc9cf3, #b9d9ff, #0091ff, #fd99dc);
}

#staticLoad {
  background-image: repeating-radial-gradient(
    circle at 18% 36%,
    #409dfe,
    #e4e1fd 1.8px
  );
  animation: back 2s linear infinite;
}

@keyframes back {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}